[v-cloak] {
  display: none;
}
body{
  &.lock{
    overflow: hidden;
    height: 100%;
  }
}
ul{
  list-style-type: none;
}
table{
  font-size: 0.85rem;
  word-break: break-all;
}
th{
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
}
.week_table{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  
  td{
    text-align: center;
    vertical-align: middle;
  }
  .td_item{
    position: sticky;
    left: 0;
    background-color: #fff;
  }
}
.nav_top_tab{
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  border-radius: .5rem .5rem 0 0;
  
  li {
    background-color: #198754;
    width: 100%;
    color: white;
    //border: 1px solid white;
    padding: .5rem;
    cursor: pointer;
  }
  .clickBtn {
    background-color: darken(#198754, 5%);
  }
}
.nav_top_content {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 .5rem .5rem;
  
  .content-item{
    height: auto;
    //background:url(@/assets/img/map_jp.svg) no-repeat center/contain;
    //padding-top:calc(450 / 350 * 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.map_item_wrap{
  position: absolute;
  width: calc(294px/350px * 100%);
  max-width: 450px;
  min-width: 250px;
  height: calc(294px/350px * 100%);
  min-height: 210px;
  
  .map_item_inner{
    position:relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,10%);
  }
}
.area_top_map_wrap{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.area_top_map{
  max-width: 350px;
  min-width: 250px;
  height: auto;
}
.nav_top_map{
  width: 40px;
  position: absolute;
  height: auto;
  border: #ccc 1px solid;
  border-radius: .5rem;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  p{
    font-size: 70%;
    margin: 0;
    white-space: nowrap;
  }
  img{
    width: 70%;
    height:auto;
    //max-width: 70%;
  }
  span{
    padding: 0 .1rem;
  }
  .temp{
    margin: 0;
    padding: 0;
    display: flex;
    
    li{
      font-size: 70%;
    }
    li:first-child:after{
      content: '/';
    }
  }
}

.areamodal{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:80%;
  height:80%;
  background:#fff;
  border-radius: 1rem;
}
.areamodal-back{
  display:flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(204,204,204,0.9);
}
.areamodal-content{
  width:100%;
  height:80%;
  overflow-y: auto;
}