[v-cloak] {
  display: none;
}
table{
  font-size:0.85rem;
  word-break: break-all;
}
th{
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
}
.week_table{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  
  td{
    text-align: center;
    vertical-align:middle;
  }
  .td_item{
    position: sticky;
    left: 0;
    background-color:#fff;
  }
}
.nav_top_tab{
  display: flex;
  text-align: center;
  margin:0;
  padding:0;
  
  li {
    background-color: gray;
    color: white;
    border: 1px solid white;
    padding: .5rem;
  }
}
.nav_top_map{
  border:#ccc 1px solid;
  margin:0.5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content {
  width: 100%;
  border:1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  list-style-type: none;
}
.areamodal{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:80%;
  height:80%;
  background:#fff;
  border-radius: 1rem;
}
.areamodal-back{
  display:flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(204,204,204,0.9);
}
.areamodal-content{
  width:100%;
  height:80%;
  overflow-y: auto;
}